.red {
  color: #ffcdd2;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: #2e7d32;
  font: inherit;
  border: 2px solid #eee;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.Button:hover {
  background-color: #81c784;
  color: #222222;
}

.Button.red {
  background-color: #c62828;
}

.Button.red:hover {
  background-color: #e57373;
  color: #222222;
}
